<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireBaseUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>531ACCC2201F288B00027859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531ACCD6201F288B00027859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531ACCE1201F288B00027859</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
